.landing_navbar {
    width: 100%;
    font-family: Outfit;
    height: 120px;
    align-content: center;
    background-color: rgba(244, 240, 240, 0.812);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


}

.nav-active {
    background: rgba(124, 121, 121, 0.3);
    /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    color: white;
    top: 0;
    z-index: 99;
}

.Landing_navbar_container {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.left-nav-landing img {
    width: 100px;
    height: auto;
}

.middle-nav-landing ul {
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;

}

.middle-nav-landing li {
    cursor: pointer;


}

.middle-nav-landing a {
    color: black;
}

.middle-nav-landing .active {
    color: blue;
}

.right-nav-landing button {
    width: 160px;
    height: 52px;
    background-color: rgb(104, 104, 107);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 19px;

}

.right-nav-landing button:hover {
    background-color: rgb(37, 37, 236);
    cursor: pointer;
}

.right-nav-landing span {
    display: none;
}

.mobile-container {
    display: none;
    opacity: 0;
}


.account-hover {
    height: 70px;
    border: 1px solid black;
    background-color: grey;
    color: black;
    border-radius: 15px;
    display: none;
    position: fixed;
}

.account-hover button{
    width: 40px;
}

.account:hover .account-hover{
    display: block;
}


@media (max-width:1000px) {
    .middle-nav-landing {
        display: none;
    }

    .right-nav-landing button {
        display: none;
    }

    .right-nav-landing span {
        display: block;
        font-size: 17px;
    }

    .mobile-container {
        width: 100%;
        display: block;
        justify-items: center;
        position: fixed;
        background-color: rgb(107, 105, 103);
        transition: all 2s;
        opacity: 1;
        z-index: 98;


    }

    .mobile-navbar-container li {
        padding: 10px;

    }
}

@media (max-width:450px) {

    .mobile-container {
        width: 100%;
        display: block;
        justify-items: center;
        position: fixed;
        background-color: rgba(67, 67, 68, 0.3);
        /* semi-transparent */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: all 2s;
        opacity: 1;
        z-index: 98;
        color: white;

    }

    .mobile-navbar-container li {
        padding: 10px;
        color: rgb(0, 0, 0);
    }

    .right-nav-landing {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .right-nav-landing button {
        width: 60px;
        height: 30px;
        display: block;
        font-size: 12px;
    }


    .left-nav-landing img {
        width: 70px;
        height: auto;

    }
}