.quotation-page {

    min-height: 100vh;
    padding: 20px;
    font-family: "Segoe UI", sans-serif;
    margin-left: 300px;
}

.quotation-wrapper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Header */
.quotation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Search */
.search-wrapper {
    position: relative;
}

.search-box {
    padding: 8px 35px 8px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: 260px;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 9px;
    font-size: 14px;
    color: #777;
}

/* Date */
.date-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #ddd;
    padding: 6px 12px;
    border-radius: 8px;
    background: #fff;
}

.date-input {
    border: none;
    outline: none;
    font-size: 14px;
}

.date-separator {
    font-size: 14px;
    color: #777;
}

.calendar-icon {
    font-size: 14px;
    color: #555;
}

/* Button */
.create-btn {
    background: #3b7ea1;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.create-btn:hover {
    background: #2f6c8b;
}

/* Icons */
.top-actions {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
    color: #444;
}

.top-actions i:hover {
    color: #3b7ea1;
}

/* Table */
.table-container {
    overflow-x: auto;
}

.quotation-table {
    width: 100%;
    border-collapse: collapse;
}

.quotation-table thead {
    background: #4a82a8;
    color: white;
}

.quotation-table th {
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

.quotation-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.ms-icon {
    margin-left: 6px;
    font-size: 12px;
    cursor: pointer;
}

.no-record {
    text-align: center;
    padding: 25px;
    color: #777;
}

/* Footer */
.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.table-footer select {
    margin: 0 6px;
    padding: 5px 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.pagination button {
    padding: 6px 12px;
    margin-left: 6px;
    border: 1px solid #3b7ea1;
    background: white;
    border-radius: 6px;
    cursor: pointer;
}

.pagination .active {
    background: #3b7ea1;
    color: white;
}




@media (max-width:550px) {
    .quotation-page {
        margin-left: 0;
    }

    .quotation-table {
        width: 100%;
    }

    .quotation-header {
        flex-wrap: wrap;
    }

    .quotation-table th {
        padding: 5px;
        text-align: left;
        font-size: 10px;
    }
}