.landing-container-two {
    width: 75%;
    height: 700px;
    display: flex;
    gap: 50px;
    margin: auto;
    align-items: center;

}

.payment-record-statement h1 {
    font-size: max(3vw, 19px);
    font-family: "Inter", sans-serif;
}

.payment-record-statement p {
    font-size: max(1.2vw, 16px);
    color: grey;
    padding-top: 35px;
    padding-bottom: 35px;

}

.payments-buttons {
    display: flex;
    gap: 20px;
}

.payment-demo {
    height: 35px;
    display: flex;
    align-items: center;
}

.payment-demo span {
    width: 130px;
    background-color: transparent;
    color: gray;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
}

.payments-buttons img {
    height: auto;
    width: 20px;
}

.payments-buttons button {
    width: 100px;
    height: 35px;
    background-color: rgba(20, 84, 187, 0.927);
    color: white;
    border: 1px solid rgb(255, 252, 252);
    border-radius: 5px;
    cursor: pointer;

}

.payment-record-image img {
    width: 100%;
    height: 500px;
}


@media (max-width:450px) {
    .landing-container-two {
        margin-top: 100px;
        flex-wrap: wrap;
    }

    .payment-record-image {
        width: 100%;
        height: 70%;
    }
}


@media (max-width:750px) {
    
}