.home {
    width: 70%;
    margin-left: 300px;
}

.upper-container {
    margin-top: 12px;
}

.upper-container input {
    width: 250px;
    height: 35px;
    border: 1px solid rgb(220, 217, 217);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    align-content: center;
    border: 1px solid rgb(220, 219, 219);
}

.upper-container input::placeholder {
    padding: 5px;
}

.upper-container button {
    height: 36px;
    width: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    font-size: 17px;
}

.header {
    padding-bottom: 20px;
}

.display-box {

    margin-top: 50px;
    border: 1px solid rgb(246, 241, 241);
    height: 170px;
    border-radius: 5px;
    align-content: center;
    padding: 5px;
    box-shadow: 0px 5px 7px rgb(238, 232, 232);
}


.boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
    flex-wrap: wrap;
    padding: 5px;
}



.box-one {
    width: max(12.5vw, 120px);
    background-color: antiquewhite;
    height: 65px;
    align-content: center;
    border-radius: 5px;
    padding-left: 15px
}

.box-two {
    width: max(12.5vw, 120px);
    background-color: rgb(232, 203, 164);
    height: 65px;
    align-content: center;
    border-radius: 5px;
    padding-left: 15px
}

.box-three {
    width: max(12.5vw, 120px);
    background-color: rgb(215, 250, 243);
    height: 65px;
    align-content: center;
    border-radius: 5px;
    padding-left: 15px
}

.box-four {
    width: max(12.5vw, 120px);
    background-color: rgb(215, 221, 250);
    height: 65px;
    align-content: center;
    border-radius: 5px;
    padding-left: 15px
}

.box-five {
    width: max(12.5vw, 120px);
    background-color: rgb(235, 250, 215);
    height: 65px;
    align-content: center;
    border-radius: 5px;
    padding-left: 15px
}



.middle-container-box {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.middle-container-box span {
    color: grey;
    padding: 5px;
}


.mid-one {
    box-shadow: 2px 4px 6px 2px rgb(228, 223, 223);
    width: 450px;
    height: 60px;



}

.mid-one div {
    text-align: center;
}


.mid-two {
    box-shadow: 2px 4px 6px 2px rgb(228, 223, 223);
    width: 450px;
    height: 60px;
}

.mid-two div {
    text-align: center;
}


.amount-received {
    display: flex;
    justify-content: space-between;
}

.mid-three {
    box-shadow: 2px 4px 6px 2px rgb(228, 223, 223);
    width: 450px;
    height: 60px;
}

.mid-three div {
    text-align: center;
}

.amount-payable {
    display: flex;
    justify-content: space-between;
}



@media (max-width:550px) {
    .home {
        width: 100%;
        margin-left: 0;
    }

    .middle-container-box {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
   .mid-one{
    width: 250px;
   }
   .mid-two{
    width: 250px;
   }
   .mid-three{
    width: 250px;
   }
}

@media (max-width:950px) {
    .home {
        width: 100%;
        margin-left: 0;

    }
}


@media (max-width:1200px) {
    .display-box {
        width: 95%;
        height: auto;
    }
}