.dashboard {
  width: 250PX;
  position: fixed;

}

.menubar {
  display: none;
}
.account:hover{
   
}


.aside {
  width: 250px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);
  animation: fade 1s ease-in;

}

aside hr {
  background-color: rgb(248, 240, 240);
  border: none;
  height: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header i {
  text-align: center;
}

.header img {
  width: 70px;
}

.aside-nav li {
  padding: 15px;
  font-size: 16px;
  font-family: "Inter", sans-serif;

}

.aside li:hover {
  background-color: rgb(127, 140, 145);
  color: white;
  cursor: pointer;
  border-radius: 2px;
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:500px) {
  .aside {
    display: none;
  }

  .menubar {
    display: block;

  }

  .aside-mobile-nav {
    position: fixed;
    width: 250px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);
    animation: fade 1s ease-in;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aside-mobile-nav .header i {
    border: 1px solid black;
    text-align: center;
  }

  .aside-mobile-nav .header img {
    width: 70px;
  }

  .aside-mobile-nav li {
    padding: 15px;
    font-size: 16px;
    font-family: "Inter", sans-serif;

  }
}


@media (max-width:950px) {
  .aside {
    display: none;
  }
}