.dashboard {
  width: 250PX;
  position: fixed;

}

.menubar {
  display: none;
}



.aside {
  width: 250px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);
  animation: fade 1s ease-in;
  overflow-y: scroll;

}


aside hr {
  background-color: rgb(248, 240, 240);
  border: none;
  height: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header i {
  text-align: center;
}

.header img {
  width: 70px;
}

.aside-nav li {
  padding: 15px;
  font-size: 15px;
  font-family: "Outfit", sans-serif;

}

.aside-nav ul a {
  background-color: rgb(187, 199, 203);
}

.aside li:hover {
  background-color: rgb(127, 140, 145);
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

.invoice-dropdown {
  background-color: transparent;
}


.invoice-dropdown div {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.invoice-dropdown div:hover button {
  display: block;
  cursor: pointer;
}

.invoice-dropdown button {
  width: 20px;
  height: 20px;
  background-color: rgb(41, 41, 184);
  border-radius: 50px;
  border: none;
  color: white;
  display: none;
}

.invoice-dropdown li{
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:500px) {
  .aside {
    display: none;
  }

  .menubar {
    display: block;
    overflow-y: scroll;

  }

  .aside-mobile-nav {
    position: fixed;
    width: 250px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.08);
    animation: fade 1s ease-in;
    overflow-y: scroll;

  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header i {
    height: 36px;
    width: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    font-size: 17px;
    align-content: center;
    background-color: rgb(239, 238, 238);
    border: none;
  }

  .aside-mobile-nav .header i {
    border: 1px solid black;
    text-align: center;
  }

  .aside-mobile-nav .header img {
    width: 70px;
  }

  .aside-mobile-nav li {
    padding: 15px;
    font-size: 14px;
    font-family: "Inter", sans-serif;

  }
}