* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit" sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.landing-page{
  background-color: rgb(253, 236, 242);
}