.company {
    width: 100%;
    display: flex;
    gap: 100px;

}


.left-company-input {
    width: 60%;
    padding: 5px;
    transition: all 5s ease-in-out;
}

.inputs-heading h3 {
    font-size: max(1vw, 15px);
}



.left-company-input p {
    font-size: max(1vw, 14px);
    font-weight: 500;
}


.unregistered-gst {
    display: flex;
    gap: 20px;
    padding: 10px;

}

.unregistered-gst input {
    outline: none;
}

.company-contacts {
    display: flex;
    justify-content: space-between;


}

.company-address-details {
    display: flex;
    justify-content: space-between;
}

.create-btn {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;

}

.create-btn button {
    background-color: transparent;
    color: white;
    border: none;

}



.right-company-images img {
    width: 80%;
    position: relative;
    left: 180px;
}

sup {
    color: red;
}

.cancel-btn {
    background-color: blue;
}


@media (max-width:550px) {
    .company {
        width: 100%;
        justify-content: center;
    }

    .left-company-input input {
        width: 250px;
    }


    .right-company-images img {
        display: none;
    }

    .left-company-input {
        max-width: 100%;
        justify-content: center;
    }


    .company-address-details {
        display: block;
    }

    .company-contacts {
        display: block;
    }

}



@media (max-width:850px) {
    .left-company-input {
        width: 70%;
        justify-self: center
    }

    .right-company-images img {
        display: none;
    }
}