/* Search with icon */

.performainvoice {
    margin-left: 300px;
}

.search-wrapper {
    position: relative;

}

.purchase-table th {
    font-family: "Inter", sans-serif;
    font-size: 13px;
}

.search-box {
    padding: 8px 35px 8px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: 260px;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 9px;
    color: #777;
    font-size: 14px;
}

/* 3 Dot Menu Button */
.menu-btn {
    border: 1px solid #ccc;
    background: white;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.menu-btn:hover {
    background: #f2f2f2;
}

@media (max-width:550px) {
    .performainvoice {
        margin-left: 0px;
    }

    .header-right {
        flex-wrap: wrap;
    }
}